<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Employee</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div class="form-container">
  <h1>사원 삭제</h1>
  <form th:action="@{/emp/delete}" th:object="${employees}" method="post">
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{name}" />
    </div>
    <div>
      <button type="submit">입력</button>
    </div>
  </form>
</div>
</body>
</html>